@charset "UFT-8";

@font-face {
    font-family: "Knight";
    src: url('../fontes/KnightsQuest.ttf') format('opentype');
    font-weight: normal;
}

* {
    box-sizing: border-box;
  }
  
  :root {
    --gold: #ffb338;
    --light-shadow: #77571d;
    --dark-shadow: #3e2904;
  }
  body {
    margin: 0;
  }
  .wrapper {
    background: transparent;
    display: grid;
    grid-template-areas: 'overlap';
    place-content: center;
    text-transform: uppercase;
    
  }
  .wrapper > div {
    background-clip: text;  
    -webkit-background-clip: text;
    padding-left: 10px;
    color: #363833;
    font-family: 'Knight', sans-serif;    
    font-size: clamp( 2em, 6vw, 5rem);
    grid-area: overlap;
    letter-spacing: 1px;
    -webkit-text-stroke: 4px transparent;
  }
  div.bg {
    background-image: repeating-linear-gradient( 105deg, 
      var(--gold) 0% , 
      var(--dark-shadow) 5%,
      var(--gold) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top;
  }
  div.fg{
    background-image: repeating-linear-gradient( 5deg,  
      var(--gold) 0% , 
      var(--light-shadow) 23%, 
      var(--gold) 31%);
    color: #1e2127;
    transform: scale(1);
  }

  /* CSS para a janela flutuante*/
.tooltip {
  position: relative;
  display: block;
  cursor: pointer;
  width: auto;
  max-width: 200px;
  
  /*padding: 25px; /* Adiciona algum espaço ao redor do tooltip */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 20dvw;
  background-color: #555;
  color: #fff;  
   /* Faça a imagem e o texto aparecerem lado a lado */
  display: flex;   
  border-radius: 5px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  
  z-index: 1;
  right: 100%;  /* Place the tooltip text at the bottom of the tooltip */
  left: 50%; /* Move a tooltip 10px para a direita */
   
  margin-left: 60%; /* Use half of the width (120/2 = 60), to center the tooltip text */
  margin-top: 0%;
  opacity: 50;
  transition: opacity 0.3s;
  /*max-height: max-content; /* Ajuste este valor conforme necessário */
  /*overflow-y: auto; /* Adiciona rolagem se o conteúdo for muito longo */
}

.tooltip .tooltiptext img {
  margin-right: 10px; /* Adiciona algum espaço à direita da imagem */
  padding: 10px;
  margin-bottom: 0%;  
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  position: absolute;
  bottom: 10vh;
  
  
}